.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    padding-bottom: 0%;
 }

 p{
    padding-top: 2%;
 }