<div id=”registration” style="background-color: lightblue; height: 100%;">
    
    <form >
        <h1 style="color:red; font-family: Roboto; font-weight:bold;">REGISTRATION FORM</h1>
        
    <div>
        <label>User ID</label>
    </div>
      
    <div>
        <input type ="number" name="userId" placeholder="Enter Your ID"required >
    </div>
    <br>    
    <div>
        <label>Full Name</label>
    </div>
  
    <div>
        <input type =”text” name=”fullname” placeholder="Enter Your Name"required >
    </div>
    <br>
    <div>
    <label>Email</label>
    </div>

    <div>
    <input type =”text” name=”demail” placeholder="Enter Your EMAIL ID" required >      
    </div>
    <br>
    <div>
        <label>Mobile Number</label>
    </div>

    <div>
        <input type="number" name="number" placeholder="Enter Your MOBILE NUMBER" required >
    </div>
    <br>
    <div>
        <label>Password</label>
    </div>

    <div>
        <input type =”password” name=”dpassword” placeholder="Enter Your PASSWORD" required>
    </div>
    <br>
    <div>
    <label>Confirm Password</label>
    </div>
    
    <div>
    <input type =”password” name=”dpassword” placeholder="Re-Enter Your PASSWORD" required>
    </div>
    <br>
    <button style="border-radius: 5px;">SUBMIT</button>
    </form>
    <br>
</div>